<!doctype html>
<title>Add Life Insurance</title>

<h1>Add Life Insurance</h1>
<form action="{{ url_for('add_life_insurance') }}" method=post class=add-entry>
      <dl>
        <dt>Insurance Company Name:
        <dd><input type=text size=30 name=Name>
		<dt>Plan Description:
        <dd><textarea rows="3" cols="50" name=Description>Insert insurance plan description here.</textarea>
		<dt>Life Insurance Plan Amount:
        <dd><input type=number size=30 name=Amount>
		<dt>Per Month Cost:
        <dd><input type=text size=15 name=PerMonth>
		
        <dd><input type=submit value=Submit>
      </dl>
</form>
</html>