<h1>View Payroll</h1>

<form action="{{ url_for('view_payroll') }}" method=get class=add-entry>
	<dt>Select Employee:
	<dt><select type=text name=emp_number>
			{% for e in emp_list %}
			<option value="{{ e[0] }}">{{ e[0] }}:{{ e[1] }} {{ e[2] }}</option>
			{% endfor%}
	</select>
	<dt><input type=submit value=Submit>
</form>
<form action="{{ url_for('view_payroll') }}" method=get class=add-entry>
	<dt>Select Pay Period:
	<dt><select type=text name=pp_id>
			{% for e in period_list %}
			<option value="{{ e[0] }}">{{ e[0] }}:{{ e[1] }} TO {{ e[2] }}</option>
			{% endfor%}
	</select>
	<dt><input type=submit value=Submit>
</form>
